
@{
    ViewBag.Title = "其他数据";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="container">
    <h2>宠物小窝</h2>
    <div class="mg-container">
        <div class="alert alert-success" style="font-size:24px">@ViewData["Menagerie"]</div>
    </div>
    <h2>钓鱼声望NPC</h2>
    <div class="fisher-container">
        <div class="alert alert-success" style="font-size:24px">@ViewData["FisherFriends"]</div>
    </div>
</div>

