
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网站已关闭</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center">感谢大家对WowCNData的支持，由于本人无暇更新此网站，经考虑，暂时关闭此站点。</h1>
    </div>
</body>
</html>
